::selection,
a::selection {
  background: rgba(255, 255, 0, .3)
}

a,
a::selection {
  color: #0645ad
}

hr,
img {
  border: 0
}

a,
ins {
  text-decoration: none
}

::selection,
ins,
mark {
  color: #000
}

dfn,
mark {
  font-style: italic
}

hr,
ol,
p,
ul {
  margin: 1em 0
}

table tr td,
table tr th {
  border: 1px solid #ccc;
  text-align: left;
  padding: 6px 13px;
  margin: 0
}

hr,
pre code,
table,
table tr {
  padding: 0
}

pre,
pre code {
  white-space: pre
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

body {
  color: #444;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 12px;
  line-height: 1.5em;
  padding: 1em;
  margin: auto;
  max-width: 42em;
  background: #fefefe
}

a:visited {
  color: #0b0080
}

a:hover {
  color: #06e
}

a:active {
  color: #faa700
}

a:focus {
  outline: dotted thin
}

a:active,
a:hover {
  outline: 0
}

::-moz-selection {
  background: rgba(255, 255, 0, .3);
  color: #000
}

a::-moz-selection {
  background: rgba(255, 255, 0, .3);
  color: #0645ad
}

img {
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #111;
  line-height: 1em
}

b,
h4,
h5,
h6,
mark,
strong,
table tr th {
  font-weight: 700
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

h4 {
  font-size: 1.2em
}

h5 {
  font-size: 1em
}

h6 {
  font-size: .9em
}

blockquote {
  background: #eee;
  padding: .5em 1em;
  font-family: sans-serif;
  border-radius: .5em;
  margin: 0 1.5em;
  border: 1px solid #AAA;
}

hr {
  display: block;
  height: 2px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee
}

code,
kbd,
pre,
samp {
  color: #000;
  font-family: monospace, monospace;
  font-size: .98em
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word
}

ins {
  background: #ff9
}

mark {
  background: #ff0
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

ol,
ul {
  padding: 0 0 0 2em
}

li p:last-child {
  margin: 0
}

dd {
  margin: 0 0 0 2em
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td {
  vertical-align: top
}

@media only screen and (min-width:480px) {
  body {
    font-size: 14px
  }
}

@media only screen and (min-width:768px) {
  body {
    font-size: 16px
  }
}

@media print {

  blockquote,
  img,
  pre,
  tr {
    page-break-inside: avoid
  }

  * {
    background: 0 0 !important;
    color: #000 !important;
    filter: none !important;
    -ms-filter: none !important
  }

  body {
    font-size: 12pt;
    max-width: 100%
  }

  a,
  a:visited {
    text-decoration: underline
  }

  hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid #000
  }

  a[href]:after {
    content: " ("attr(href) ")"
  }

  abbr[title]:after {
    content: " ("attr(title) ")"
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""
  }

  blockquote,
  pre {
    border: 1px solid #999;
    padding-right: 1em
  }

  img {
    max-width: 100% !important
  }

  @page :left {
    margin: 15mm 20mm 15mm 10mm
  }

  @page :right {
    margin: 15mm 10mm 15mm 20mm
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3
  }

  h2,
  h3 {
    page-break-after: avoid
  }
}

table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
  margin: 0
}

table tr:nth-child(2n) {
  background-color: #aaa
}

table tr td :first-child,
table tr th :first-child {
  margin-top: 0
}

table tr td:last-child,
table tr th :last-child {
  margin-bottom: 0
}

code,
tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px
}

pre code {
  margin: 0;
  border: none;
  background: 0 0
}

.highlight pre,
pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px
}
